.portfolio-box {
  background: #111;
  padding: 20px;
  border-radius: 18px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.portfolio-box img {
  width: 75px;
  border-radius: 12px;
}

.portfolio-box h3,
.portfolio-box p {
  margin: 0;
  margin-top: 5px;
}

.load-more-wrapper {
  text-align: center;
  margin-top: 30px;
}

#load-more-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;      /* optional: adjust */
  font-weight: normal;  /* optional */
  color: #fff;          /* or whatever color you want */
  cursor: pointer;      /* remove this if you don't want a pointer */
  text-align: left;
}

#load-more-btn:hover {
  color: #ccc;   /* subtle hover, optional */
  background: none; /* make sure no background appears */
}


@media (min-width: 769px) {
  #portfolio-container.grid-con {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  #portfolio-container.grid-con {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: 769px) {
  #load-more.grid-con {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  #load-more.grid-con {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
}



