.portfolio-box {
  background: #111;
  padding: 20px;
  border-radius: 18px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.portfolio-box img {
  width: 75px;
  border-radius: 12px;
}

.portfolio-box h3,
.portfolio-box p {
  margin: 0;
  margin-top: 5px;
}

.load-more-wrapper {
  text-align: center;
  margin-top: 30px;
}

#load-more-btn {
  padding: 12px 30px;
  font-size: 1.1rem;
  border: none;
  border-radius: 12px;
  background: #fff000;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#load-more-btn:hover {
  background: blueviolet;
}

@media (min-width: 769px) {
  #portfolio-container.grid-con {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  #portfolio-container.grid-con {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
}


