// Import variables from the main variables partial
@forward 'contact';
@forward 'burger';
@forward 'hero';
@forward 'projects';
@forward 'hotspot';
@forward 'footer';
@forward 'seven-hero';
@forward 'form';
@forward 'project-page';